<h1>レストラン詳細</h1>

<div class="d-flex justify-content-center">
    <div class="card col-sm-10 col-md-4 col-xs-3 m-3">
      <% if @restaurant.image.attached? %>
      <%= image_tag @restaurant.image %>
      <% end %>
      <div class="card-body">
        <h4 class="card-title"><%= @restaurant.name %></h4>
        <p class="card-text">
          <strong>レストランのアドレス:</strong>
          <%= @restaurant.addresss %>
        </p>
        <p class="card-text">
            <strong>詳細:</strong>
            <%= @restaurant.detail %>
        </p>
        
        <%= link_to '編集', edit_restaurant_path(@restaurant), class:"btn btn-primary" %> |
        <%= link_to '戻る', restaurants_path, class:"btn btn-warning" %>
      </div>
    </div>
    
    <div class="card col-sm-10 col-md-4 col-xs-3 m-3">
        <div class="card-body">
            <h1>フード一覧</h1>
            <table class="table">
              <thead>
                <tr>
                    <th>フード名</th>
                    <th>値段</th>
                </tr>
              </thead>
        
              <tbody>
                <tr>
                    <td>112</td>
                    <td>asdfsdf</td>
                </tr>
              </tbody>
            </table>
        
            <br>
        </div>
    </div>
</div>
