<p id="notice"><%= notice %></p>

<h1>Restaurant Reviews</h1>

<table class = "table">
  <thead>
    <!-- <tr>
      <th>User</th>
      <th>Restaurant</th>
      <th>Rating</th>
      <th>Review</th>
      <th colspan="3"></th>
    </tr> -->
    <tr>
      <th scope="col">Restaurant</th>
      <th scope="col">Rating</th>
      <th scope="col">Review </th>
    </tr>
  </thead>

  <tbody>
    <% @restaurant_reviews.each do |restaurant_review| %>
      <tr>
        <td><%= restaurant_review.restaurant_id %></td>
        <td><%= restaurant_review.rating %></td>
        <td><%= restaurant_review.review %></td>
        <!-- <td><%= link_to 'Show', restaurant_review, class:'btn btn-primary btn-sm' %></td> -->
        <td><%= link_to 'Edit', edit_restaurant_review_path(restaurant_review), class:'btn btn-success btn-sm'  %></td>
        <td><%= link_to 'Destroy', restaurant_review, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger btn-sm'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Review', new_restaurant_review_path, class:'btn btn-primary btn-lg'  %>
